<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chats</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Welcome to the Chat Application</h1>
    <p th:text="'Hello, ' + ${login} + '!'" class="welcome-message"></p>
</header>

<main>
    <section class="chat-list">
        <h2>Ваши чаты:</h2>
        <ul>
            <li th:each="chat : ${chats}">
                <a th:href="@{/chat/{id}(id=${chat.id})}" th:text="${chat.name}"></a>
            </li>
        </ul>
        <p th:if="${noChatsMessage != null}" th:text="${noChatsMessage}"></p>
    </section>
</main>

<footer>
    <a th:href="@{/create_chat}">Создать чат</a>
    <a th:href="@{/logout}">Logout</a>
</footer>
</body>
</html>
